<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parkingandroid">

    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <meta-data
        android:name="com.amap.api.v2.apikey"
        android:value="8143ac59412c17a9cf67815c997e75d3"/>

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.business.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.business.TestListActivity">

        </activity>
        <activity android:name=".activity.business.LoginActivity"/>
        <activity android:name=".activity.business.RegisterActivity"/>
        <activity android:name=".activity.business.SettingActivity"/>
        <activity android:name=".activity.business.UserinfoSettingActivity"/>
        <activity android:name=".activity.business.UserInfoAvatarActivity"/>
        <activity android:name=".activity.business.CouponListUserActivity"/>
        <activity android:name=".activity.business.AccountBalanceActivity"/>
        <activity android:name=".activity.business.RechargeActivity"/>
        <activity android:name=".activity.business.BindBankCardActivity"/>
        <activity android:name=".activity.business.RechargeRecordActivity"/>
        <activity android:name=".activity.business.CarActivity"/>
        <activity android:name=".activity.business.DriverActivity"/>
        <activity android:name=".activity.business.CouponStoreActivity"/>
        <activity android:name=".activity.business.ConsumeRecordActivity"/>
        <activity android:name=".activity.business.ParkingLotListActivity"/>
        <activity android:name=".activity.business.ParkingLotDetailActivity"/>
    </application>

</manifest>